In [1]:
import pandas as pd

In [65]:
filepath = '/Users/mauriciovieirarodriguez/project/NetROML/buildings_v2/990/rssi_2018_11.csv'

In [66]:
df = pd.read_csv(filepath)

In [67]:
df.head()

,mac_cliente,mac_ap,banda,antena,rssi,date,time
0,0.135.1.143.215.55,0.66.104.213.240.0,0,0,-99,2018-11-01,11:05
1,0.135.1.143.215.55,0.66.104.213.240.0,0,1,-97,2018-11-01,11:05
2,0.135.1.143.215.55,44.208.45.106.167.16,0,0,-97,2018-11-01,11:05
3,0.135.1.143.215.55,44.208.45.106.167.16,0,1,-98,2018-11-01,11:05
4,0.135.1.143.215.55,44.208.45.125.172.128,0,0,-94,2018-11-01,11:05

In [68]:
df_ordenado = df.sort_values(by=['time', 'date'], ascending=[True, True])

In [69]:
df_ordenado.head(50)

,mac_cliente,mac_ap,banda,antena,rssi,date,time
0,0.135.1.143.215.55,0.66.104.213.240.0,0,0,-99,2018-11-01,11:05
1,0.135.1.143.215.55,0.66.104.213.240.0,0,1,-97,2018-11-01,11:05
2,0.135.1.143.215.55,44.208.45.106.167.16,0,0,-97,2018-11-01,11:05
3,0.135.1.143.215.55,44.208.45.106.167.16,0,1,-98,2018-11-01,11:05
4,0.135.1.143.215.55,44.208.45.125.172.128,0,0,-94,2018-11-01,11:05
5,0.135.1.143.215.55,44.208.45.125.172.128,0,1,-95,2018-11-01,11:05
6,0.135.1.143.215.55,44.208.45.127.67.64,0,0,-97,2018-11-01,11:05
7,0.135.1.143.215.55,44.208.45.127.67.64,0,1,-96,2018-11-01,11:05
8,0.135.1.143.215.55,44.208.45.127.103.160,0,0,-82,2018-11-01,11:05
9,0.135.1.143.215.55,44.208.45.127.103.160,0,1,-80,2018-11-01,11:05
10,8.212.12.130.83.142,0.66.104.213.240.0,0,0,-59,2018-11-01,11:05
11,8.212.12.130.83.142,0.66.104.213.240.0,0,1,-59,2018-11-01,11:05
12,8.212.12.130.83.142,0.66.104.213.240.0,1,0,-68,2018-11-01,11:05
13,8.212.12.130.83.142,0.66.104.213.240.0,1,1,-69,2018-11-01,11:05
14,8.212.12.130.83.142,44.208.45.106.167.16,0,0,-97,2018-11-01,11:05
15,8.212.12.130.83.142,44.208.45.106.167.16,0,1,-91,2018-11-01,11:05
16,8.212.12.130.83.142,44.208.45.125.172.128,0,0,-94,2018-11-01,11:05
17,8.212.12.130.83.142,44.208.45.125.172.128,0,1,-99,2018-11-01,11:05
18,8.212.12.130.83.142,44.208.45.127.67.64,0,0,-60,2018-11-01,11:05
19,8.212.12.130.83.142,44.208.45.127.67.64,0,1,-63,2018-11-01,11:05
20,8.212.12.130.83.142,44.208.45.127.67.64,1,0,-61,2018-11-01,11:05
21,8.212.12.130.83.142,44.208.45.127.67.64,1,1,-69,2018-11-01,11:05
22,104.83.88.164.135.195,0.66.104.213.240.0,0,0,-43,2018-11-01,11:05
23,104.83.88.164.135.195,0.66.104.213.240.0,0,1,-38,2018-11-01,11:05
24,104.83.88.164.135.195,0.66.104.213.240.0,1,0,-49,2018-11-01,11:05
25,104.83.88.164.135.195,0.66.104.213.240.0,1,1,-49,2018-11-01,11:05
26,104.83.88.164.135.195,44.208.45.106.167.16,0,0,-98,2018-11-01,11:05
27,104.83.88.164.135.195,44.208.45.106.167.16,0,1,-97,2018-11-01,11:05
28,104.83.88.164.135.195,44.208.45.125.172.128,0,0,-95,2018-11-01,11:05
29,104.83.88.164.135.195,44.208.45.125.172.128,0,1,-97,2018-11-01,11:05
30,104.83.88.164.135.195,44.208.45.127.67.64,0,0,-68,2018-11-01,11:05
31,104.83.88.164.135.195,44.208.45.127.67.64,0,1,-64,2018-11-01,11:05
32,104.83.88.164.135.195,44.208.45.127.67.64,1,0,-91,2018-11-01,11:05
33,104.83.88.164.135.195,44.208.45.127.67.64,1,1,-88,2018-11-01,11:05
34,104.83.88.164.135.195,44.208.45.127.103.160,0,0,-99,2018-11-01,11:05
35,104.83.88.164.135.195,44.208.45.127.103.160,0,1,-98,2018-11-01,11:05
36,104.83.88.164.135.197,0.66.104.213.240.0,0,0,-47,2018-11-01,11:05
37,104.83.88.164.135.197,0.66.104.213.240.0,0,1,-45,2018-11-01,11:05
38,176.197.89.188.18.183,0.66.104.213.240.0,0,0,-97,2018-11-01,11:05
39,176.197.89.188.18.183,0.66.104.213.240.0,0,1,-99,2018-11-01,11:05
40,176.197.89.188.18.183,44.208.45.106.167.16,0,0,-63,2018-11-01,11:05
41,176.197.89.188.18.183,44.208.45.106.167.16,0,1,-52,2018-11-01,11:05
42,176.197.89.188.18.183,44.208.45.125.172.128,0,0,-80,2018-11-01,11:05
43,176.197.89.188.18.183,44.208.45.125.172.128,0,1,-78,2018-11-01,11:05
44,176.197.89.188.18.183,44.208.45.127.67.64,0,0,-76,2018-11-01,11:05
45,176.197.89.188.18.183,44.208.45.127.67.64,0,1,-82,2018-11-01,11:05
46,176.197.89.188.18.183,44.208.45.127.103.160,0,0,-69,2018-11-01,11:05
47,176.197.89.188.18.183,44.208.45.127.103.160,0,1,-83,2018-11-01,11:05
48,216.252.147.127.63.210,0.66.104.213.240.0,0,0,-98,2018-11-01,11:05
49,216.252.147.127.63.210,0.66.104.213.240.0,0,1,-97,2018-11-01,11:05

In [70]:
df_ordenado.count()

mac_cliente    3486
mac_ap         3486
banda          3486
antena         3486
rssi           3486
date           3486
time           3486
dtype: int64

In [71]:
df_ordenado.to_csv('/Users/mauriciovieirarodriguez/project/NetROML/buildings/990/rssi_2018_11.csv', index=False)